<h1 align="center" class="display-4 mb-5">Sign In</h1>
<div style="width:40%; margin: 25px auto">

    <div class="alert alert-danger" *ngIf="isInvalid">
        Invalid username and password.
    </div>
    <div class="alert alert-info" *ngIf="isLogout">
        You have been logged out.
    </div>


    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" required autofocus
                [(ngModel)]="model.username" #email="ngModel" autocomplete="email">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="password"
                placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                    <label class="form-check-label" for="remember_me"> Remember me </label>
                </div>
                <!-- <input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                <label for="remember_me" class="form-check-label">  Remember me</label> -->

            </div>
            <label class="form-check-lable float-right mb-3" >Don't have an account yet? &nbsp;<a class="float-right" routerLink="/register"
                   > Sign Up</a> </label>
        </div>


        <div class="form-group">
            <button [disabled]="!form.form.valid" type="submit" class="btn btn-lg btn-primary btn-block">Sign
                In</button>
        </div>
    </form>

</div>